huggingface-hub
ipykernel
ipython
matplotlib
numpy
onnx
onnxruntime
onnxscript
opencv-python
pillow
protobuf
scikit-learn
scipy
tokenizers
torch
torch-pruning
torchsummary
torchvision
tqdm
transformers
